.centeredimg {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;
}

.card{

  	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 25%;
	background: #f5f2d0;
	margin: 12.5%;
	position: absolute;               
	top: 5%;                         
	transform: translate(0, -25%)
	font-size: large;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.text  {
	font-size: large;
}

.rightdiv{
	margin-left: 50%; 
	height: 100vh; 
	background: #f5f2d0;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;

}

.rightcard {

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 30%;
	background: #f5f2d0;
	margin: 12.5%;
	position: absolute;               
	top: 5%;                         
	transform: translate(0, -25%)
	font-size: large;
}

.button {
  background-color: lightgrey;
  border: 2px solid white; /* Green */
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}